@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    margin: 0;
}
#form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 10%;
    text-align: center;
}

#wavelength {
    border: none;
    background-color: black;
    color: white;
    width: 20%;
    height: 100%;
    border-radius: 6px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
}

body {
    overflow-x: hidden;
}

footer {
    position: fixed;
    width: 10vh;
    height: 10vh;
    padding: 1%;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    border-radius: 25px;
}

h2 {
    font-size: 50%;
}

#github-logo {
    width: 100%;
}

#flex-container {
    width: 100%;
    height: 100vh; 
    position: absolute;
    display: flex;
    z-index: -1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;

}

#lumen-response, #algo-response {
    background-color: black;
    transition: background-color 0.8s;
    flex-grow: 1;
    width: 50%;
    height: 100%;
}

.response-tag {
    position: relative;
    bottom: 1%;
    left: 50%;
    top: 90vh;
    transform: translate(-50%, -50%);

}